
@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 15s infinite;
  backface-visibility: hidden;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}


  .cards-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cards-wrapper {
  display: flex;
  width: 100%;
}

.card {
  min-width: 100%; /* Each card takes full width */
  flex-shrink: 0;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 8px;
  margin-right: 1rem;
  text-align: center;
}



